* {
  box-sizing: border-box;
  text-align: center;

}

/* Fill in your CSS Below */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.footer, .push {
clear: both;
height: 4em;
}
.directorySlider {
	width: 650px;
	height: 500px;
}
body {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width:1376px;
	margin: 0px auto;
}
h1, h2, h3, h4, h5, h6, p {
	font-family:'Georgia', Times, Times New Roman, serif;
	color:#777;
}
header {
	/*background: #ccc;*/
	/*padding: 22px;*/
	color: #333;
}
#yourname {
	font-size:27px;
	float:left;
	padding: 22px;
	width: 220px;
	background:#339999;
	color:#fff;
	margin-left: 195px;
}
nav ul {
	list-style-type: none;
    text-align: right;
    position: relative;
    right: 222px;
    top: 30px;
}
nav ul li {
	display: inline;
}
nav ul li a {
	text-decoration: none;
	color:#777;
	text-align: right;
	padding: 12px;
}
nav ul li a:hover {
	border-bottom: 3px solid #339999;
	color:#339999;
}
.navpipe {
	text-decoration: none;
	border-right: 1px solid #eee;
}
#content {
	clear:both;
	overflow: auto;
	background-image: url("../images/brickwall.png");
	width:1376px;
	border-top: 2px solid #ccc;
	padding: 40px;
}
#content-index {
	clear:both;
	overflow: auto;
	background-image: url("../images/brickwall.png");
	width:1376px;
	height: 552px;
	border-top: 2px solid #ccc;
	padding: 40px;
}
iframe {
	padding: 2px;
}
#section-contact {
	float: left;
    background: #fff;
    padding: 10px;
    width: 650px;
    height: 600px;
    margin: 10px 0px 0px 0px;
}
.formtags {
	float: left;
	position: absolute;	
	left: 237px; 
}
#submit {
    float: left;
    position: relative;
    left: 16px;
    top: 92px;
}    
#submit:hover {
	float: left;
    position: relative;
    left: 16px;
    top: 92px;
    color:#1acdc4;
}
#reset {
	float: left;
    position: relative;
    left: 22px;
    top: 92px;
}
#reset:hover {
	float: left;
    position: relative;
    left: 22px;
    top: 92px;
    color:#1acdc4;
}
#messageinput {
	position: relative;
    top: 84px;
    left: 17px;
    padding: 8px;
    padding-bottom: 200px;
    padding-right: 106px;
    width: 96%;
}
#messagetag {
    position: relative;
    top: 73px;
    left: 21px;
}
#emailinput {
	position: relative;
    top: 51px;
    left: 18px;
    padding: 8px;
    padding-right: 107px;
    width: 96%;
}
#emailtag {
    position: relative;
    top: 52px;
    left: 13px;
    padding: 8px;
}
#nameinput {
    position: relative;
    top: 28px;
    left: 19px;
    padding: 8px;
    padding-right: 105px;
    width: 96%;
}
#nametag {
    position: relative;
    top: 20px;
    left: 20px;
}
input {
	float: left;
	position: absolute;
	left: 241px;
	padding: 2px;
	color:#888;	
}
section h2 {
	color: #339999;
    position: relative;
    left: 22px;
    text-align: left;
    width: 95%;
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    font-size: 25px;
}
section {
    float: left;
    background: #fff;
    padding: 10px;
    width: 650px;
    margin: 0;
    position: relative;
    left: 154px;
    top: 10px;
}
section p {
	margin-right: 5px;
	padding: 10px
}
#imageSlideshowHolder {
    width: 606px;
    width/* */: /**/600px;
    width: /**/600px;
    height: 456px;
    height/* */: /**/450px;
    height: /**/450px;
    background-color: #000;
    border: 3px solid #317082;
    position: relative;
    left: 18px;
    top: 10px;
}
.imageInGallery{		
	width:600px;
	height:450px;
	background-color:#000;
	
	/* Never change these 3 value */
	left:0px;
	top:0px;
	position:absolute;	
}
.portboxes {
  display: inline-block;
  width: 270px;
  height: 200px;
  margin: 1em;
  top: 32px;
}
#concerts {
	background-image: url("../images/portconcertlink.jpg");
	position: relative;
}
#concerts a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	background: #339999;
	 position: relative;
    top: 156px;
    padding: 13px 91px;
}
#concerts a:hover {
	text-decoration: none;
	color: #339999;
	font-size: 22px;
	background: #fff;
	 position: relative;
    top: 156px;
    padding: 13px 91px;
}
#magicportraits {
	background-image: url("../images/portmagiclink.jpg");
	position: relative;
	padding: 0px 40px;
}
#magicportraits a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	background: #339999;
	 position: relative;
    top: 154px;
    padding: 13px 64px;
    margin: -54px;
}
#magicportraits a:hover {
	text-decoration: none;
	color: #339999;
	font-size: 22px;
	background: #fff;
	 position: relative;
    top: 154px;
    padding: 13px 64px;
    margin: -54px;
}
#fashion {
	background-image: url("../images/portfashionlink.jpg");
	position: relative;
	padding: 20px;
}
#fashion a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	background: #339999;
	 position: relative;
    top: 135px;
    right: 20px;
    padding: 13px 96px;
}
#fashion a:hover {
	text-decoration: none;
	color: #339999;
	font-size: 22px;
	background: #fff;
	 position: relative;
    top: 135px;
    right: 20px;
    padding: 13px 96px;
}
#bodypainting {
	background-image: url("../images/portbodylink.jpg");
	position: relative;
	padding: 20px;
}
#bodypainting a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	background: #339999;
	 position: relative;
    top: 134px;
    right: 20px;
    padding: 13px 72px;
}
#bodypainting a:hover {
	text-decoration: none;
	color: #339999;
	font-size: 22px;
	background: #fff;
	 position: relative;
    top: 134px;
    right: 20px;
    padding: 13px 72px;
}
#landscapes {
	background-image: url("../images/portlandlink.jpg");
	position: relative;
	padding: 20px;
}
#landscapes a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	background: #339999;
	 position: absolute;
    top: 142px;
    right: 1px;
    padding: 13px 75px;
}
#landscapes a:hover {
	text-decoration: none;
	color: #339999;
	font-size: 22px;
	background: #fff;
	 position: absolute;
    top: 142px;
    right: 1px;
    padding: 13px 75px;
}
#video {
	background-image: url("../images/portvideolink.jpg");
	position: relative;
	padding: 20px;
	top: -146px;
}
#video a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	background: #339999;
	 position: relative;
    top: 133px;
    right: 20px;
    padding: 13px 107px;
}
#video a:hover {
	text-decoration: none;
	color: #339999;
	font-size: 22px;
	background: #fff;
	 position: relative;
    top: 133px;
    right: 20px;
    padding: 13px 107px;
}
aside {
	float: left;
	width:36%;
	padding: 10px;
}
#socialbar {
	float: right;
    background: #fff;
    padding: 16px;
    width: 270px;
    height: 190px;
    margin: 10px 0px 0px 0px;
    position: relative;
    right: 160px;
}
#socialbar-contact {
	float: right;
    background: #fff;
    padding: 16px;
    width: 270px;
    height: 190px;
    margin: 10px 0px 0px 0px;
    position: relative;
    right: 160px;
    top:10px;
}
#socialbar-gallery {
    float: right;
    background: #fff;
    padding: 16px;
    width: 270px;
    height: 190px;
    margin: -645px 0px 0px 0px;
    position: relative;
    right: 203px;
    top: 15px;
}
#socialbar-concert {
    float: right;
    background: #fff;
    padding: 16px;
    width: 270px;
    height: 190px;
    margin: 0px 0px 0px 0px;
    position: relative;
    right: 196px;
    bottom: 595px;
}
#socialheader {
	position: relative;
    left: 882px;
    bottom: 328px;
    color: #339999;
    padding: 15px;
    border-bottom: 1px solid #eee;
    width: 15%;
    font-size: 20px;;
}
#socialheader-portfolio {
    position: relative;
    left: 901px;
    bottom: 936px;
    color: #339999;
    padding: 15px;
    border-bottom: 1px solid #eee;
    width: 15%;
    font-size: 20px;
}
#socialheader-contact {
	position: relative;
    left: 904px;
    bottom: 570px;
    color: #339999;
    padding: 15px;
    border-bottom: 1px solid #eee;
    width: 15%;
    font-size: 20px;
}
#socialheader-concert {
	position: relative;
    left: 0px;
    bottom: 0px;
    color: #339999;
    padding: 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 20px;
}
#socialheader-gallery {
	position: relative;
    left: 936px;
    top: -620px;
    color: #339999;
    padding: 15px;
    border-bottom: 1px solid #eee;
    width: 15%;
    font-size: 20px;
}
#socialheader-video {
	 position: relative;
    left: 902px;
    bottom: 1348px;
    color: #339999;
    padding: 15px;
    border-bottom: 1px solid #eee;
    width: 15%;
    font-size: 20px;
}
#socialheader-concert {
	 position: relative;
    left: 902px;
    bottom: 1348px;
    color: #339999;
    padding: 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 20px;
}
.socialicons {
    position: relative;
    left: 345px;
    bottom: 305px;
    padding: 2px;
}
.socialicons-portfolio {
	position: relative;
    left: 355px;
    bottom: 918px;
    padding: 2px;
}
.socialicons-contact {
    position: relative;
    left: 354px;
    bottom: 544px;
    padding: 2px;
}
.socialicons-gallery {
    position: relative;
    right: -348px;
    bottom: 607px;
    padding: 2px;
}
.socialicons-video {
    position: relative;
    left: 353px;
    bottom: 1320px;
    padding: 2px;
}
.socialicons-concert {
	position: relative;
    right: 0px;
    top: 20px;
    padding: 2px;
}
#githover:hover {
	background-color: #339999;
}
#linkedhover:hover {
	background-color: #339999;
}
#stackhover:hover {
	background-color: #339999;
}
footer {
	clear:both;
	background: #666;
	border-top: 5px solid #339999;
	padding: 30px;
	text-align: center;
}
#footergallery {
	clear: both;
    background: #666;
    border-top: 5px solid #339999;
    padding: 30px;
    position: relative;
    text-align: center;
    top: -117px;
}
#footerconcert {
	clear: both;
    background: #666;
    border-top: 5px solid #339999;
    padding: 30px;
    position: relative;
    text-align: center;
    top: -188px;
}
#copylink {
	color:#ccc;
	text-decoration: none;
	font-size: 10px;
}
#fakeclass {
	text-decoration: none;
}